
body{
  margin: 0;
  padding: 0;
  font-family: cursive;
  color: rgb(0, 0, 0);
  background-color: #f0f0f0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}
li a:hover {
  border-bottom: 3px solid #ff8b00;
}
.section{
  background-color: rgb(22, 22, 22);
  width: 25%;
  height: 100%;
  padding-bottom: 71px;
  position: fixed;
}
.img-profil{
  padding-top: 20px;
  border-radius: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1{
  color:white;
  text-align: center;
}

strong{
  color: #ff8b00;
  font-family: cursive;
}
.icon{
  text-align: center;
  font-size: 15px;
}
b{
  color: rgb(197, 196, 196) ;
}
i{
  color: #ff8b00;
  padding: 13px;
  font-size: 25px;
}
i:hover{
  color: rgb(0, 0, 0);
  background-color:#ff8b00 ;
  border-radius: 50%;
}
.sectiondeux{
  background-color: rgb(22, 22, 22);
  width: 75%;
  position: absolute;
  top: 0;
  left: 25%;
}
.text{
  color: white;
  font-size: 60px;
  padding: 20px 0px 0px 100px;
  position: absolute;
  top: 20px;
}

button{
  background-color: #ff8c0080;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin-left: 5px;
  font-size: 20px;
}
button:hover{
  background-color: #ff8c00;
}
h2{
  color: #ff8b00;
  text-align: center;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  font-size: 40px;
}
.apropos{
  background-color: #ff8c00;
  padding: 30px;
  margin: 80px;
  color: black;
}
.textapropos{
  border: 5px solid black;
  padding: 30px;
}
.timeline p{
  font-size: 20px;
}
.time{
  display: inline-flex;
}
.time{
  padding: 10px 20px 10px 20px;
  background-color: #ff8b00;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.card{
  padding: 10px 20px 30px 10px;
}
.card{
  border-radius: 5px;
  border-left: 5px solid #ff8b00;
  background-color: white;
}
.timeline{
  display: grid;
  grid-row-gap:  2rem ;
}
.timeline__year{
  margin-bottom: 1.25rem; 
}
.timeline{
  border-left:  3px solid #ff8b00;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.timeline__card{
  position: relative;
  margin-left: 1rem;
}

.page{
  max-width: 47rem;
  padding: 2rem 2rem 3rem;
  margin-left: auto;
  margin-right: auto;
}
.rond {
  width: 30px;
  height: 30px;
  background: #ff8b00;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  margin-top: -100px;
}
.rondd {
  width: 30px;
  height: 30px;
  background: rgb(145, 143, 143);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  margin-top: -100px;
}
.ppp {
  display: block;
  display: inline-block;
  margin-left: -3px;
}
.competance{
  text-align: center;
}
.com{
  margin: 20px;
  color: white;
  font-size:30px;
}
.projet{
  text-align: center;
}
.pad{
 padding: 10px;
}
.text-projet {
  background-color: #ff8b00;
  position: absolute;
  width: 300px;
  z-index: 2;
  left: 7px;
  top: 170rem;
  opacity: 1;
  padding: 10px 0;
}
.text-projet:hover{
  background-color: #f3b365;
}
.text-projet1:hover{
  background-color: #f3b365;
}
.text-projet2:hover{
  background-color: #f3b365;
}
.text-projet1 {
  background-color: #ff8b00;
  position: absolute;
  width: 300px;
  z-index: 2;
  left: 328px;
  top: 170rem;
  opacity: 1;
  padding: 10px 0;
}
.text-projet2 {
  background-color: #ff8b00;
  position: absolute;
  width: 300px;
  z-index: 2;
  left: 649px;
  top: 170rem;
  opacity: 1;
  padding: 10px 0;
}
a{
  text-decoration: none;
  color: white;
}
.copy  {
  color: #f7f7f7;
  padding-left: 15px;
}
.copy i {
  font-size: 15px;
}
.copy a {
  color: #ff8b00;
}
.copy i:hover {
  background-color: transparent;
  color: #ff8b00;
}