
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
    position: relative;
    z-index: 1;
  }
  li {
    float: right;
  }
  li a {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    margin-right: 50px;
  }
  
  li a:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
  }
/*.section{
  background-image: url(./img-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}*/
.img-bg{
  position: absolute;
  top: 10px;
}

.icon{
  font-size: 25px;
  padding: 10px 10px 10px 50px;
}
i{
  margin: 5px;
  color: rgb(255, 255, 255);
}
.nav-top{
  border-bottom: 1px solid rgb(255, 255, 255);
  position: relative;
    z-index: 1;
}
.mail-tel{
  position: absolute;
  top: 19px;
  right: 4rem;
  font-size: 20px;
}
.text{
  position: absolute;
  z-index: 1;
  top: 160px;
}

p{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 50px;
  font-size: 50px;
}